
.header {
    padding: 1em 0;
    background-color: rgb(24, 125, 172);
    background-image: linear-gradient(to right, rgb(24, 125, 172), white);
    white-space: nowrap;
    min-width: 1000px;
}

.navigation {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.navigation a, .navigation a:visited {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding: 0.2em 1em 0.3em;
    border-radius: 20px;
    margin: 0 1em;
}

.navigation a:hover {
    background-color: white;
    color: rgb(24, 125, 172);
}

.login {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.login a, .login a:visited {
    color: rgb(24, 125, 172);
    font-size: 1.5em;
    text-decoration: none;
    padding: 0.2em 1em 0.3em;
    border-radius: 20px;
    margin: 0 1em;
}

.login a:hover {
    background-color: rgb(24, 125, 172);
    color: white;
}



img {
    position: absolute;
    left: 15px;
    width: 10%;
}