@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.header {
    padding: 1rem 0;
    background-color: white;
    white-space: nowrap;
    width: 100%;
}

.navigation, .navigationLogin {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.navigation a, .navigation a:visited, .navigationLogin a, .navigationLogin a:visited {
    font-family: "Roboto Condensed";
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.2rem 1rem 0.3rem;
    margin: 0 2rem;
}

.navigation a:hover {
    background-color: rgb(89, 131, 181);
    color: white;
}

.navigationLogin a:hover {
    background-color: rgb(141, 172, 216);
    color: white;
}

.link-button {
    display: inline-block;
    position: relative;
    width: 4.5rem;
    height: 0rem;
    padding: 0 1rem;
    margin: 0 2rem;
}

.link-button button { 
    position: absolute;
    left: 0;
    top: -1.7rem;
    background: none;
    border: none; 
    font-family: "Roboto Condensed";
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.2rem 1rem 0.3rem;
}

.link-button button:hover {
    background-color: rgb(141, 172, 216);
    color: white;
    cursor: pointer;
}

.link-button button:focus {
    outline: none;
}





.header img {
    position: absolute;
    left: 15px;
    width: 150px;
}


.border {
    padding: 1px 0;
    background: linear-gradient(to right, black, rgb(141, 172, 216));
}


.nome {
    font-family: "Amatic SC";
    position: absolute;
    left: 6em;
    white-space: nowrap;
}



