@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

#foto1 {
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
}

#foto2 {
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
}

#foto3 {
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
}

#description1 {
    position: relative;
}

#description1 p {
    background-color: white;
    font-family: "Viga";
    font-size: 2em;
    width: 25%;
    position: absolute;
    top: 7.5em;
    left: 5em;
    white-space: pre;
}

#description2 {
    position: relative;
}

#description2 p {
    background-color: white;
    font-family: "Viga";
    font-size: 2em;
    width: 25%;
    position: absolute;
    right: 5em;
    top: 7.5em;
}

.title {
    font-family: "Viga";
    font-size: 3em;
    padding: 0.5em 0 0.5em;
}