@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.login {
    position: relative;
    left: 35%;
    width: 30%;
}

.login label {
    font-family: "Roboto Condensed";
    font-size: 1.5em;
    display: block;
    text-align: left;
    margin: 1em 0;
}

.login input {
    font-family: "Roboto Condensed";
    width: 100%;
    line-height: 2em;
    display: block;
    padding: 0 5px;
    border-style: solid;
    margin-bottom: 2em;
} 

.login button {
    font-family: "Roboto Condensed";
    background-color: white;
    padding: 0.75em 1.5em;
    border-color: black;
    float: right;
} 

.login button:hover {
    background-color: rgb(89, 131, 181);
    color: white;
} 

.login button:active {
    transform: scale(0.99);
}