@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.profile {
    background-color: white;
    position: relative;
    left: 30%;
    width: 30%;
    padding: 0 5%;
    height: 100%;
}

.profile p {
    font-family: "Roboto Condensed";
    font-size: 1.5rem;
    text-align: left;
    margin: 1rem 0;
}

.profile .edit button {
    margin: 1rem 0;
    height: 1.5rem;
    float: right;
}

.profile .edit input {
    margin: 1rem 0;
    float: right;
}